@{
    ViewData["Title"] = "Opening Hours & Address";
}

@section CustomHero {
    <div class="p-5 text-white bg-warning text-center">
        <h1>Opening Hours & Address</h1>
        <p>Visit us during our office hours.</p>
    </div>
}

<div class="mt-4">
    <h2>Opening Hours</h2>
    <table class="table table-bordered w-50">
        <tr><th>Monday - Friday</th><td>08:30 - 17:00</td></tr>
        <tr><th>Saturday</th><td>09:00 - 13:00</td></tr>
        <tr><th>Sunday</th><td>Closed</td></tr>
    </table>

    <h3>Address</h3>
    <p>
        Lazaruslaan 10<br />
        1000 Brussel<br />
        België
    </p>

    <h3>Public Transport</h3>
    <p>
        Easily accessible by metro (line 1), bus lines 21, 29 and tram 7. Parking is available on-site.
    </p>
</div>
